In [0]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [0]:

data_v = pd.read_csv("drive/My Drive/INTERN/socis/CNN/clean_images_to_csv/image_clean.csv",dtype=object,error_bad_lines=False )
le = preprocessing.LabelEncoder()

data_v['power_state_spec'] = le.fit_transform(data_v['power_state_spec'].astype('str'))

data_v['power_state_value'] = le.fit_transform(data_v['power_state_value'].astype('str'))
k = data_v["dir"].astype('str') 
q = len(k)
for i in range(q):
  
  l = len(k[i])
  if(l==1):
   
#     print(k[i])
    k[i]= "00"+str(k[i])
 
#     print(k[i])
#     print("----")
  if(l==2):
#     print(k[i])
    k[i]="0"+str(k[i])
    
#     print(k[i])
#     print("----")
  
  
leng = len(k)
# print(leng)
# print(type(k))
data_v["dir"] = k
# print(k)
# print(data_v["dir"])
data_v["id"] = data_v["id"].map(str) +"_"+k
print(data_v["id"])

0        ON_1_20181031_173504_104
1       OFF_2_20181031_173628_104
2        ON_3_20181031_173800_104
3       OFF_4_20181031_173921_104
4        ON_1_20181102_084600_103
5       OFF_2_20181102_084723_103
6        ON_3_20181102_084856_103
7       OFF_4_20181102_085018_103
8        ON_1_20181102_085847_102
9       OFF_2_20181102_090016_102
10       ON_3_20181102_090149_102
11      OFF_4_20181102_090312_102
12       ON_1_20181031_163301_105
13      OFF_2_20181031_163423_105
14       ON_3_20181031_163555_105
15      OFF_4_20181031_164012_105
16       ON_1_20190507_200536_023
17      OFF_2_20190507_200720_023
18       ON_3_20190507_200905_023
19      OFF_4_20190507_201049_023
20       ON_5_20190507_201233_023
21      OFF_6_20190507_201417_023
22       ON_7_20190507_201625_023
23      OFF_8_20190507_201809_023
24       ON_9_20190507_201951_023
25     OFF_10_20190507_202134_023
26      ON_11_20190507_202318_023
27     OFF_12_20190507_202502_023
28       ON_1_20181214_194019_015
29      OFF_2_20181214_194147_015
                  ...
739      ON_7_20190524_205926_067
740     OFF_8_20190524_210107_067
741      ON_9_20190524_210248_067
742    OFF_10_20190524_210429_067
743     ON_11_20190524_210610_067
744    OFF_12_20190524_210751_067
745      ON_1_20181126_112218_058
746     OFF_2_20181126_112347_058
747      ON_3_20181126_112530_058
748     OFF_4_20181126_112659_058
749      ON_1_20181126_103714_060
750     OFF_2_20181126_103843_060
751      ON_3_20181126_104026_060
752     OFF_4_20181126_104155_060
753      ON_1_20181116_230306_094
754     OFF_2_20181116_230430_094
755      ON_3_20181116_230608_094
756     OFF_4_20181116_230732_094
757      ON_1_20181105_201724_115
758     OFF_2_20181105_201841_115
759      ON_3_20181105_202008_115
760     OFF_4_20181105_202125_115
761      ON_1_20181117_171348_114
762     OFF_2_20181117_171513_114
763      ON_3_20181117_171650_114
764     OFF_4_20181117_171814_114
765      ON_1_20181113_232117_113
766     OFF_2_20181113_232240_113
767      ON_3_20181113_232417_113
768     OFF_4_20181113_232541_113
Name: id, Length: 769, dtype: object

In [0]:
arr_v = data_v.values

In [0]:
arr_v = arr_v[0:]
print(arr_v)

[['1' 'ON_1_20181031_173504_104' '104' ... 'NC' 'C' 'C']
 ['2' 'OFF_2_20181031_173628_104' '104' ... 'C' 'C' 'C']
 ['3' 'ON_3_20181031_173800_104' '104' ... 'NC' 'C' 'C']
 ...
 ['767' 'OFF_2_20181113_232240_113' '113' ... 'C' 'NC' 'C']
 ['768' 'ON_3_20181113_232417_113' '113' ... 'C' 'C' 'C']
 ['769' 'OFF_4_20181113_232541_113' '113' ... 'C' 'NC' 'C']]

In [0]:
ON_list =[]
OFF_list = []
for i in range(len(arr_v)):
    s = arr_v[i][1]
    s = str(s)
    
#     print(type(st))
    if s.find("N") == -1:
        OFF_list.append(arr_v[i])
    
    else:
        ON_list.append(arr_v[i])
# calculating for ON
print(len(ON_list),"ON")
print(len(OFF_list),"OFF")
arr_on_v = np.array(ON_list)
arr_off_v = np.array(OFF_list)
print(arr_on_v)
print(arr_off_v)

386 ON
383 OFF
[['1' 'ON_1_20181031_173504_104' '104' ... 'NC' 'C' 'C']
 ['3' 'ON_3_20181031_173800_104' '104' ... 'NC' 'C' 'C']
 ['5' 'ON_1_20181102_084600_103' '103' ... 'C' 'C' 'C']
 ...
 ['764' 'ON_3_20181117_171650_114' '114' ... 'C' 'C' 'C']
 ['766' 'ON_1_20181113_232117_113' '113' ... 'C' 'C' 'C']
 ['768' 'ON_3_20181113_232417_113' '113' ... 'C' 'C' 'C']]
[['2' 'OFF_2_20181031_173628_104' '104' ... 'C' 'C' 'C']
 ['4' 'OFF_4_20181031_173921_104' '104' ... 'C' 'C' 'C']
 ['6' 'OFF_2_20181102_084723_103' '103' ... 'C' 'C' 'C']
 ...
 ['765' 'OFF_4_20181117_171814_114' '114' ... 'C' 'NC' 'C']
 ['767' 'OFF_2_20181113_232240_113' '113' ... 'C' 'NC' 'C']
 ['769' 'OFF_4_20181113_232541_113' '113' ... 'C' 'NC' 'C']]

In [0]:
dataset_on = pd.DataFrame({'S.no': arr_on_v[:, 0], 'File_id': arr_on_v[:, 1], 'Path': arr_on_v[:,3], 'power_state_value':arr_on_v[:,4],'current_rise/fall_time_value (mS)':arr_on_v[:,5],'current_stabilised_value (mA)': arr_on_v[:,6],'current_max/min_value (mA)':arr_on_v[:,7]  })
dataset_on.head()

  S.no  ... current_max/min_value (mA)
0    1  ...                   405.9922
1    3  ...                   405.9922
2    5  ...                   405.9922
3    7  ...                   405.9922
4    9  ...                   401.3125

[5 rows x 7 columns]

In [0]:
dataset_off = pd.DataFrame({'S.no': arr_off_v[:, 0], 'File_id': arr_off_v[:, 1], 'Path': arr_off_v[:,3], 'power_state_value':arr_off_v[:,4],'current_rise/fall_time_value (mS)':arr_off_v[:,5],'current_stabilised_value (mA)': arr_off_v[:,6],'current_max/min_value (mA)':arr_off_v[:,7]  })
dataset_off.head()

  S.no  ... current_max/min_value (mA)
0    2  ...                      -56.0
1    4  ...                      -58.0
2    6  ...                      -32.0
3    8  ...                      -28.0
4   10  ...                   -26.4219

[5 rows x 7 columns]

In [0]:
df_on = dataset_on.iloc[:,2:7].copy() 
df_on.head()

                           Path  ... current_max/min_value (mA)
0  ON_1_20181031_173504_104.bmp  ...                   405.9922
1  ON_3_20181031_173800_104.bmp  ...                   405.9922
2  ON_1_20181102_084600_103.bmp  ...                   405.9922
3  ON_3_20181102_084856_103.bmp  ...                   405.9922
4  ON_1_20181102_085847_102.bmp  ...                   401.3125

[5 rows x 5 columns]

In [0]:

df_on.to_csv("drive/My Drive/INTERN/socis/CNN/clean_images_to_csv/on_clean.csv", index=False, sep=',')

In [0]:
df_off = dataset_off.iloc[:,2:7].copy() 
df_off.head()
df_off.to_csv("drive/My Drive/INTERN/socis/CNN/clean_images_to_csv/off_clean.csv", index=False, sep=',')

In [0]:
df_off.head()

                            Path  ... current_max/min_value (mA)
0  OFF_2_20181031_173628_104.bmp  ...                      -56.0
1  OFF_4_20181031_173921_104.bmp  ...                      -58.0
2  OFF_2_20181102_084723_103.bmp  ...                      -32.0
3  OFF_4_20181102_085018_103.bmp  ...                      -28.0
4  OFF_2_20181102_090016_102.bmp  ...                   -26.4219

[5 rows x 5 columns]